:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
  font-family: 'Press Start 2P', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.all-elements {
  display: none;
}

.itens {
  display: flexbox;
  flex-direction: column;
}

/* TAMANHO DA TELA */
.game-container {
  width: 224px;
  height: 224px;
  margin: 0 auto;
  outline: 1px solid #fff;
  background-color: rgb(137, 206, 139);
  transform: scale(3) translateY(50%);

  position: relative;
  top: -1100px;
  left: 100px;
}

.clock-container {
  position: relative;
  left: 200px;
  top: -309px;
}

#clock {
  position: relative;
  top: 120px;
  left: 30px;
  font-size: 30px;
  color: white;
}

.clock-bg {
  width: 200px;
}

.todo-list-container {
  position: relative;
  top: -250px;
  left: 50px;
}

.todo-list {
  font-weight: 500;
  list-style-type: none;
  line-height: 2.5em;
  position: relative;
  top: 480px;
  left: -20px;
  color: black;
  font-size: 18px;
}

.addCheck {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: #ff0000aa;
}

.todo-bg {
  width: 30%;
}

#game-end {
  display: none;
}

/* IMAGE SHARP  */
.game-container canvas {
  image-rendering: pixelated;
}
