.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  background: white;
  border-top: black;
  color: black;
}
.TextMessage_p {
  margin: 0;
  font-size: 8px;
}

.TextMessage span {
  opacity: 0;
}

.TextMessage span.revealed {
  opacity: 1;
}
